#section_right {
	padding: 25px;
	padding-top: 50px;
}

#my_name {
	font-size: 35px;
	margin-bottom: 10px;
}

#title {
	margin-bottom: 50px;
}

/*	EDUCATION	*/

#education {
	margin-bottom: 40px;
}

#education .title {
	display: flex;
	margin-bottom: 20px;
}

#education .title .text {
	align-self: center;
	padding-left: 10px;
	font-weight: bold;
}
#education li{
	margin-bottom: 10px;
	margin-left: 15px;
	list-style-type:disc;
}

/*	EXPERIENCE	*/

#experience{
	margin-bottom: 40px;
}

#experience .title {
	display: flex;
	margin-bottom: 20px;
}

#experience .title .text {
	align-self: center;
	padding-left: 10px;
	font-weight: bold;
}

#experience li{
	margin-bottom: 10px;
	margin-left: 15px;
	list-style-type: disc;
}

/* REFERENCES */

#references{
	margin-bottom: 40px;
}

#references img{
	height: 50px;
}

#references .title {
	display: flex;
	margin-bottom: 20px;
}

#references .title .text {
	align-self: center;
	padding-left: 10px;
	font-weight: bold;
}

#references .people_container{
	display: flex;
	width: 100%;
}

#references .person_1{
	width: 50%;
}
#references .person_2{
	width: 50%;
}