#photo {
	display: flex;
	height: 200px;
	border-radius: 70px;
	justify-content: center;
	margin: 30px auto 30px;
}


#section_left {
	float: left;
	width: 280px;
	background: #0bb5f4;
}

.contact {
	padding: 0 25px;
}