#section_right {
	padding: 25px;
	padding-top: 50px;
}

#my_name {
	font-size: 35px;
	margin-bottom: 10px;
}

#title {
margin-bottom: 50px;
}

#bar_title{
	height: 2.5px;
	width: 100px;
	background-color: black;
	margin-top: 5px;
}

.bar{
	height: 2.5px;
	width: fit-content;
	background-color: black;
	margin-bottom: 15px;
}

/*	EDUCATION	*/

#education {
	margin-bottom: 40px;
}

#education .title {
	display: flex;
	margin-bottom: 5px;
}

#education .title .sub_title_text {
	align-self: center;
	padding-left: 10px;
	font-weight: bold;
}
#education li{
	margin-bottom: 10px;
	margin-left: 15px;
	list-style-type:disc;
}

/*	EXPERIENCE	*/

#experience{
	margin-bottom: 40px;
}

#experience .title {
	display: flex;
	margin-bottom: 5px;
}

#experience .title .sub_title_text {
	align-self: center;
	padding-left: 10px;
	font-weight: bold;
}

#experience li{
	margin-bottom: 10px;
	margin-left: 15px;
	list-style-type: disc;
	display: flex;
	
}

#experience li strong{
	flex-shrink:0;
	padding-right: 5px;
	justify-content: space-around;
}

/* REFERENCES */

#references img{
	height: 50px;
}

#references .title {
	display: flex;
	margin-bottom: 5px;
}

#references .title .sub_title_text {
	align-self: center;
	padding-left: 10px;
	font-weight: bold;
}

#references .people_container{
	display: flex;
	width: 100%;
}

#references .person_1{
	width: 50%;
}
#references .person_2{
	width: 50%;
}